<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>org.magmax.master.practica8b.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.hsqldb.jdbcDriver</param-value>
    </context-param>
    
    <context-param>
        <param-name>uri</param-name>
        <param-value>jdbc:hsqldb:database.dat</param-value>
    </context-param>
    
    <context-param>
        <param-name>user</param-name>
        <param-value>sa</param-value>
    </context-param>
    
    <context-param>
        <param-name>password</param-name>
        <param-value></param-value>
    </context-param>
</web-app>
